[submodule "themes/vk-academic"]
	path = themes/vk-academic
	url = https://github.com/vkehayas/hugo-academic
	branch = master
[submodule "content/post"]
	path = content/post
	url = git@gitlab.com:vkehayas-private/blog-posts.git
	branch = master
[submodule "staticman-comments"]
	path = staticman-comments
	url = https://github.com/vkehayas/staticman-comments
	branch = master
