/* Code highlighting */
pre {
	border-style: none;
  color: #202020;
}

code {
	font-size: 0.85em;
	color: #000;
}

pre,
code {
	font-family: '{{.Get "mono_font"}}' , monospace;
	background-color: rgb(250, 250, 250);
}

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: none;
	font-family: '{{.Get "mono_font"}}' , monospace;
	font-size: 0.85em;
}


/* Code blocks */


:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #efefef;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
	color: #000
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #404040;
}

.token.punctuation {
	color: #404080;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #4080e1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #bf2020;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: none;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #2060e1;
}

.token.function,
.token.class-name {
	color: #208020;
}

/* End code highlighting */
