
html {
  font-family: '{{ .Get "body_font" }}', Georgia, Helvetica, sans-serif;
}

body {
  text-align: justify;
}

/* Navigation bar text */
.navbar-light {
  font-family: '{{ .Get "nav_font" }}',Georgia,Utopia,Charter,serif;
  transition: top 0.2s ease-in-out;
}

.navbar {
  padding: 0px;
}

.navbar-light .navbar-toggle {
  margin-top: 13.5px;
}

.navbar-brand img {
  max-height: 32px;
}

@media screen and (max-width: 1200px) {

  .navbar-brand img {
    max-height: 24px;
  }

}

.navbar-collapse {
  text-align: right;
  padding-right: 0.8em;
}

.d-xl-block {
  display: none !important;
}

.d-xl-none {
  display: block !important;
}

.article-container {
  margin-top: 2em;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: '{{ .Get "heading_font" }}',Georgia,Utopia,Charter,serif;
  text-align: left;
}
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

figcaption {
  font-family: '{{ .Get "heading_font" }}',Georgia,Utopia,Charter,serif;
}

summary {
  background-color: #fafafa;
  box-shadow: inset 0px 0px 5px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf;
  border-radius: 10px;
  text-indent: 10px;
}

#profile .portrait-title h2 {
  text-align: center;
}

#profile ul.network-icon {
  width: 200px;
}

#profile .network-icon li:last-of-type {
  margin-right: 10px;
}

.article-style img,
.article-style video {
  box-shadow: 5px 5px 10px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf;
  padding-left: 0;
  padding-right: 0;
}

div.article-metadata {
  font-size: 18px;
}

h3 {
  margin-top: 1rem;
}

ul.share li a {
  background-color: #ffffff;
  border-radius: unset;
  padding: 0.5em;
  padding-top: 0em;
}

ul.share li i {
  margin-bottom: 5px;
}

.fab.fa-twitter-square:before {
  color: #00aced;
}

.fab.fa-facebook-square:before {
  color: #3b5998;
}

.fab.fa-linkedin:before {
  color: #0077B5;
}

.fas {
  font-weight: normal;
}

.fab {
  font-weight: 900;
}

ul.share li a.email .fas.fa-envelope-square:before {
  color: #488ef1;
}

div.share-box {
  float: left;
  margin-top: 1em;
  width: 33%;
}

div.tags-li-detailed {
  margin-bottom: 1.15em;
}

.post_doi img {
  height: 22px;
  margin-top: 0.3rem;
}

.fab.fa-gitlab.gitlab-source {
  color: #548;
}

.source-button {
  float: right;
  padding-top: 1.5em;
  width: 67%;
  text-align: right;
}

@media only screen and (max-width: 390px) {

  .source-button {
    padding-top: 3.7em;
  }

}

@media only screen and (max-width: 721px) and (min-width: 584px) {

  .source-button {
    padding-top: 3.3em;
  }

}

.doc-interact {
  font-size: 1.25em;
  overflow: auto;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-bottom-color: #8080802e;
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: -webkit-fill-available;
  columns: 2;
}

.doc-interact .badge.badge-light {
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 0;
  box-shadow: 2px 2px 1px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf;
}

blockquote {
  padding: .5rem 2.5rem;
}

.container.footer-container {
  background-color: #0E1010;
  max-width: 100%;
  padding-bottom: 2em;
}

.site-footer {
  color: #899596;
}

.float-right {
  padding-right: 2em;
}

.site-footer, footer a#back_to_top i {
color: #899596;
}

kbd {
  background-color: #464e56;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.footnotes a {
  display: block;
  overflow: auto;
  white-space: nowrap;
  column-fill: auto;
  width: 180%;
}

.footnotes li {
  -webkit-column-count: 2;
   -moz-column-count: 2;
        column-count: 2;
}

a.footnote-return {
  float: right;
  text-align: right;
  column-fill: auto;
  width: 110%
}

/* a.footnote-return {
  padding-left: 5em;
} */

mjx-block {
  overflow: auto;
  white-space: nowrap;
}

.article-tags {
  text-align: left;
}

/*************************************************
*  Staticman comment section and form
**************************************************/

.post-comments {
  margin-top: 60px;
}

.post-comment {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  margin-top: 20px;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.post-comment-info {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #9b6bcc;
  width: 100%;
}

.btn-primary.comment-buttons {
  background: #9b6bcc !important;
  border-color: #9b6bcc !important;
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border-radius: 6px;
}

.btn-primary.comment-buttons:hover {
  background: #53237f !important;
}

.post-comment-info .post-comment-name {
  font-size: 1.4rem;
  font-weight: 500;

}

.post-comment-info .post-time {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #888;

}

.post-comment-info .post-time:hover {
  color: #9b6bcc;
}

/*************************************************
*  Staticman comment submission confirmation dialog
**************************************************/

.dialog {
  display: none;
  position: fixed;
  background-color: rgb(247, 247, 247);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialog:target {
  display: block;
}

.dialog .btn-primary.comment-buttons.ok {
  width: 7rem;
}

/*************************************************
*  Notify me of new comments checkbox
**************************************************/

input[type=checkbox].checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}

.checkbox-label:before {
  content: ' ';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  position: relative;
  bottom: 2px;color: rgb(169, 169, 169);
}

.checkbox:checked+.checkbox-label:after {
  content: 'x';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 2px;
  line-height: 25px;
  top: 11px;
  left: 1px;
  font-family: sans-serif;
  text-align: center;
}
