
html {
  font-family: '{{ .Get "body_font" }}', Georgia, Helvetica, sans-serif;
}

body {
  text-align: justify;
}

/* Navigation bar text */
.navbar-default {
  font-family: '{{ .Get "nav_font" }}',Georgia,Utopia,Charter,serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: '{{ .Get "heading_font" }}',Georgia,Utopia,Charter,serif;
  text-align: left;
}
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

figcaption {
  font-family: '{{ .Get "heading_font" }}',Georgia,Utopia,Charter,serif;
}

summary {
  background-color: #fafafa;
  box-shadow: inset 0px 0px 5px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf;
  border-radius: 10px;
  text-indent: 10px;
}

#profile .portrait-title h2 {
  text-align: center;
}

#profile ul.network-icon {
  width: 200px;
}

#profile .network-icon li:last-of-type {
  margin-right: 10px;
}

.article-style img,
.article-style video {
  box-shadow: 5px 5px 10px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf, 0px 0px 0px #bfbfbf;
  padding-left: 0;
  padding-right: 0;
}

div.article-metadata {
  font-size: 18px;
}

h3 {
  margin-top: 1rem;
}

ul.share {
  padding-right: 1em;
}

ul.share li a {
  background-color: #ffffff;
  border-radius: unset;
  padding: 0.5em;
  padding-top: 0em;
}

.fa-twitter-square:before {
    color: #00aced;
  }

.fa-facebook-square:before {
    color: #3b5998;
  }

.fa-linkedin-square:before {
    color: #0077B5;
  }

ul.share li a.email .fa-envelope:before {
  color: #488ef1;
}

div.share-buttons-post {
  float: left;
  padding-top: 0.35em;
}

div.tags-li-detailed {
  margin-bottom: 1.15em;
}

.site-footer {
  background-color: #0E1010;
}

/*************************************************
 *  Staticman comment section and form
 **************************************************/

.post-comments {
  margin-top: 60px;
}

.post-comment {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  margin-top: 20px;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.post-comment-info {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #9b6bcc;
  width: 100%;
}

.btn-primary.comment-buttons {
  background: #9b6bcc !important;
  border-color: #9b6bcc !important;
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border-radius: 6px;
}

.btn-primary.comment-buttons:hover {
  background: #53237f !important;
}

.post-comment-info .post-comment-name {
  font-size: 1.4rem;
  font-weight: 500;

}

.post-comment-info .post-time {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #888;

}

.post-comment-info .post-time:hover {
  color: #9b6bcc;
}

/*************************************************
 *  Staticman comment submission confirmation dialog
 **************************************************/

.dialog {
  display: none;
  position: fixed;
  background-color: rgb(247, 247, 247);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.dialog:target {
  display: block;
}

.dialog .btn-primary.comment-buttons.ok {
  width: 7rem;
}

/*************************************************
 *  Notify me of new comments checkbox
 **************************************************/

input[type=checkbox].checkbox {
  display: none;
}

.checkbox-label {
  position: relative;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}

.checkbox-label:before {
  content: ' ';
  display: inline-block;
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  position: relative;
  bottom: 2px;color: rgb(169, 169, 169);
}

.checkbox:checked+.checkbox-label:after {
  content: 'x';
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-width: 2px;
  line-height: 25px;
  top: 11px;
  left: 1px;
  font-family: sans-serif;
  text-align: center;
}


.navbar-default .navbar-toggle {
    margin-top: 13.5px;
}

.navbar-brand img {
  max-height: 32px;
  margin-top: 9px;
}

@media screen and (max-width: 1200px) {

  .navbar-brand img {
    max-height: 24px;
    margin-top: 13px;
  }

}
